<!-- html that represents team member-->
<section class="dynamiccontent">
    <img src="{{person.avatar}}" alt="{{person.name}}'s image">
    <h1> {{person.name}}</h1>
    <h3>{{person.role}}</h3>
    <p>{{person.desc}}</p>
</section>
